*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* +++++++++++++++++++++++++++ NAVBAR STYLING STARTS ++++++++++++++++++++++++++++++++++++++++++ */
.navbar-container{
    background-color: crimson;
    display: flex;
    min-height: 10vh;
    width: 100vw;
    justify-content: space-evenly;  
    background-color: crimson;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-container ul li{
    display: inline-block;
    margin-left: 1.3rem;
}
.navbar-container ul li a{
    color: white;
    text-decoration: none;
    padding: .5rem .8rem;
    font-weight: 800;
    font-size: 1.2rem;
}
.navbar-container ul li a:hover{
    background-color: white;
    color: crimson;
}
/* ++++++++++++++++++++++++++++++ NAVBAR STYLING ENDS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++ HEADER STYLING STARTS +++++++++++++++++++++++++++++++++++++++++++++ */

.header-container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header-container .central-text{
    min-height: 35vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.header-container .central-text h1{
    font-size: 3.4rem;
    text-align: center;
    font-style: italic;
    color: crimson;
    text-shadow: 5px 0px 5px crimson;
}
.header-container .central-text label{
    font-weight: 800;
    font-size: 1.2rem;
    color: black;
}
.header-container .central-text .btn-1{
    color: crimson;
    border: 2px solid crimson;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    font-weight: 800;
    text-decoration: none;
    border-radius: 20px;
}
.header-container .central-text .btn-1:hover{
    color: white;
    box-shadow: 2px 2px 10px black;
    background-color: crimson;
}
/* ++++++++++++++++++++++++++++++++ HEADER STYLING ENDS ++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++ INDEX PAGE STYLING STARTS ++++++++++++++++++++++++++++++++++++++++ */

.container-1{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-1 .card .text-con-1 .card-btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-1 .card .text-con-1 .card-btn-div a{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background: none;
    border: 2px solid white;
    font-style: normal;
    padding: .4rem 1rem;
    text-decoration: none;
}
.container-1 .card .text-con-1 .card-btn-div a:hover{
    color: crimson;
    background-color: white;
    box-shadow: 5px 5px 10px white;

}
.container-1 .card{
    min-height: 40vh;
    width: 80%;
    margin-top: 4rem;
    box-shadow: 10px 10px 20px black;
    display: flex;
    flex-wrap: wrap;
    background-color: crimson;
    padding: .4rem 1rem;
    flex-direction: row;
}
.container-1 .card .img-con{
    height: 40vh;
    width:40vh;
}
.container-1 .card .img-con img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container-1 .card .text-con-1{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: .1rem 1rem;
    color: white;
    font-style: italic;
}
.container-1 .card .text-con-1 p{
    font-size: 1.1rem;
    font-weight: 700;
}
.container-1 .btn-div{
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
.container-1 .btn-div .more-btn{
    height: 1.3rem;
    width: 10%;
    text-align: center;
    padding: .5rem .4rem;
    text-decoration-line: none;
    color: crimson;
    border: 2px solid crimson;
    font-weight: 700;
}
.container-1 .btn-div .more-btn:hover{
    color: white;
    box-shadow: 5px 5px 10px black;
    background-color: crimson;

}


/* ------------------------- */

.container-2{
    min-height: 70vh;
    display: flex;
    justify-content: center;
       flex-wrap: wrap;
    align-items:center;
}
.container-2 .chef-card{
    height: 30vh;
    width: 30vh;
    position: relative;
    margin-left: 3rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 0px crimson;
    justify-content: space-evenly;
    flex-direction: column;
}
.chef-card .text-area{
    position: absolute;
    z-index: 1; 
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 0;
    width: 80%;
    text-align: center;
    color: white;
}
.chef-card .text-area a{
    font-size: 1.1rem;
    border: 2px solid white;
    color: white;
    background: none;
    padding: .5rem .1rem;
    text-decoration: none;

}
.chef-card .text-area a:hover{
    color: crimson;
    background-color: white;

}
.chef-card:before{
    content: '';
    background-color: crimson;
    opacity: .7;
    position: absolute;
    top: 10px;
    z-index: 3;
    transition: .5s;
    right: 10px;
    left: 10px;
    bottom: 10px;
    transform: rotate3d(-1 , 1 , 0 ,-100deg);
    opacity: 0;
}
.chef-card:hover:before{
    opacity: .7;
    transform: rotate3d(0,0,0,0deg);
}
.container-2 .chef-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.chef-card:hover .text-area{
    transition: .8s;
    opacity: 1;
    z-index: 56;
}
.chef-div{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chef-div a{
    color: crimson;
    font-weight: 700;
    background: none;
    border: 2px solid crimson;
    text-decoration: none;
    padding: .6rem 2.8rem;
    font-size: 1rem;
}
.chef-div a:hover{
    background-color: crimson;
    color: white;
    box-shadow: 5px 5px 10px black;
}
.footer-container{
    background-color: crimson;
    min-height: 50vh;
}

/* ++++++++++++++++++++++++++++++ CATEGORIES PAGE STYLING STARTS ++++++++++++++++++++++++++++++++++ */


.container-3{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-left: 3rem;
}
.container-3 .heading-container{
    width: 50%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-3 .heading-container h4{
    font-weight: 400;
    color: crimson;
}
.container-3 .category-div{
    height: 80vh;
    overflow: auto;
    width: 80%;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -10px 10px 20px black;
}
.category-div::-webkit-scrollbar{
    width: 8px;
}
.category-div::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: crimson;
    border-radius: 10px;
}
.container-3 a{
    display: inline-block;
    margin-top: 3rem;
    background-color: rgb(254, 40, 83);
    transition: .5s;
    margin-left: 2rem;
    text-decoration: none;

}
.container-3 .category-div a:hover{
    scale: 1.1;
}
.container-3 .category-div .category{
    box-shadow: 10px 10px 20px black;
    min-height: 18vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.category .img-div{
    height: 18vh;
    width: 20vh;
}
.container-3 .category .category-text{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem 1rem;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: center;
}
.category .img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++? */


/* +++++++++++++++++++++++++++++++ RESTAURANTS PAGE STYLING STARTS++++++++++++++++++++++++++ */


.container-4{
    height: 100vh;   
}
.head-area{
    border: 2px solid red;
}